*{
    font-family: Arial, Helvetica, sans-serif;
}
header, main, nav, #card-text, #card-audio, #card-video{
    width: 100%;
}
body, h1, h2, p, h3, h4{
    margin: 0px;
}
h1, h2, h3, h4{
    padding-top: 5px;
    padding-bottom: 5px;
}
/*
main{
    padding-right: 5px;
    padding-left: 5px;
}
*/
header{
    background-color: #808080;
    text-align: center;
}
main{
    background-color: #CCCCCC;
}
nav{
    background-color: #8C8C8C;
    padding-top: 5px;
    padding-bottom: 5px;
}
a:hover{
    background-color: black;
    color: white;
}
nav a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
#card-text, #card-audio, #card-video{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-top: 5px;
}
.noticias{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border: 2px black solid;
    margin-left: 5px;
    margin-right: 5px;
}